<!DOCTYPE html>
<html>

<head>
    <title>nav</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="/css/login.css" /> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Trading</a>
                <a class="nav-item nav-link" href="#">Account Summary</a>
                <a class="nav-item nav-link" href="#">Add balance</a>
            </div>
        </div>
    </nav>
</body>

</html>